.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  width: 100%;
  font: inherit;
  border: 1px solid #8f70d7;
  background: #e6dff6;
  padding: 0.15rem 0.25rem;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  background: #e6dff6;
  border-color: #805fd3;
}

.form-control--invalid label,
.form-control--invalid p {
  color: #fb3640;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: #fb3640;
  background: #ffd7d9;
}
